/*.logo{
    text-align: center;
    /*padding: 100px 20px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0 ,0,0.5), url('mais-cultura-logo.jpg'));
    color: white;*
}

body{
    background-image: url("entrada-mais-cultura2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; /* cobre toda a página
    margin: 0;
    height: 100vh;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

button{
    border: solid gray 2px;
    border-radius: 50px;
    padding: 5px;
    margin: 10px;
}

.footer-content{
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-links a{
    color: #FF6B6B;
    margin: 0 10px;
}*/

.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    padding: 20px;
    background-color: #f5f5f5;
    background-image: linear-gradient(rgba(0,0,0,0.5) 1px, transparent 1px);
    background-size: 20px 20px;
}

.quadro{
    position: relative;
    width: 100%;
    max-width: 100px;
    margin: 0 auto;
    transform: rotate(0.5deg);/*Leve inclinação artística*/
    transition: transform 0.3s;
}

.quadro:hover{
    transform: rotate(0deg) scale(1.02);
}

.moldura{
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border: 15px solid #8b4513;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    pointer-events: none;
}

/*imagem dentro do quadro*/
.quadro img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    display: block;
    border: 1px solid #ddd;
}

.legenda{
    background: white;
    padding: 15px;
    text-align: center;
    margin-top: -5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.btn-saiba-mais{
    background: #4caf50;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
}